/* GENERAL */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(237, 240, 245);
}

.outline {
    outline: solid red 1px;
}

#full-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

/* TOP NAV */
#top-nav {
    display: flex;
    width: 100%;
    background-color: white;
    padding: 5px 0;
}

.store-and-search {
    display: flex;
    width: 78%;
    margin: 0 auto;
    height: 60px;
    align-items: center;
}

.store-info {
    display: flex;
    align-items: center;
    width: 70%;
}

.store-and-search img {
    height: 45px;
}

.store-info-text {
    height: 75%;
    width: 78%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.store-info-text * {
    margin-top: 0;
    margin-bottom: 0;
}

/* TEXT IN TOP HEADER */

.store-info-text .specifics {
    font-size: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.store-info-text .specifics div * {
    transition: all ease .3s;
    text-decoration: none;
    color: rgb(184, 184, 184);
}

.store-info-text .specifics div:hover * {
    transition: all ease .3s;
    color: rgb(83, 83, 83);
}

/* SEARCH IN TOP HEADER */

.store-and-search .search {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 25%;
}

.store-and-search .search * {
    height: 90%;
    width: 100%;
    font-size: 15px;
    border: none;
}

.store-and-search .search input {
    transition: all ease .3s;
    border: none;
    font-size: 13px;
    border-radius: 3px;
}

.store-and-search .search input:focus {
    font-size: 16px;
    box-shadow: 0 2px 5px gray;
    transition: all ease .5s;
    outline: none;
}

/* NAV */
#nav {
    width: 100%;
    background-color: rgb(41, 122, 199);
    padding: 10px 0;
}

#nav * {
    font-size: 10px;
    font-weight: bold;
}

.nav-items {
    display: flex;
    width: 78%;
    margin: 0 auto;
    align-items: center;
}

.nav-items ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.nav-items li {
    list-style-type: none;
    cursor: pointer;
    letter-spacing: .3px;
    color: rgb(224, 224, 224);
    transition: all ease .3s;
}

.nav-items li:hover {
    transition: all ease .3s;
    color: rgb(255, 255, 255);
}

.nav-dropdown-menu {
    position: relative;
}

.nav-dropdown-menu ul {
    bottom: -8px;
    z-index: -1;
    position: absolute;
    outline: solid red 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(41, 122, 199);
    transition: all ease .3s;
}

.nav-dropdown-menu ul li {
    color: white;
}

.dropdown-translation {
    transform: translateY(15px);
    transition: all ease .3s;
}